@import url(variables.css);

.backdrop-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
  }
  
  .backdrop-image::after {
	content: "";
	position: absolute;
	inset: 0;
	background-image: linear-gradient(
	  0deg,
	  hsla(250, 13%, 11%, 1),
	  hsla(250, 13%, 11%, 0.9)
	);
  }
  
  .movie-detail .movie-poster {
	max-width: 300px;
	width: 100%;
  }
  
  .movie-detail .heading {
	margin-block: 24px 12px;
  }
  
  .movie-detail :is(.meta-list, .genre) {
	color: var(--text-color);
  }
  
  .movie-detail .genre {
	margin-block: 12px 16px;
  }
  
  .detail-list {
	margin-block: 24px 32px;
  }
  
  .movie-detail .list-item {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	margin-block-end: 12px;
  }
  
  .movie-detail .list-name {
	color: var(--text-color);
	min-width: 112px;
  }  