.genre-list .title-wrapper {
	margin-bottom: 56px;
}
.grid-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	row-gap: 20px;
	column-gap: 16px;
}
:is(.genre-list, .search-modal) :is(.movie-card, .card-banner) {
	width: 100%;
}