@import url(variables.css);


/**
 *	! responsive for larger than 575px screen
 */

 @media screen and (min-width: 575px) {
	/* * Home Page * */

	.banner-content {
		right: auto;
		max-width: 500px;
	}
	.slider-control {
		left: calc(100% - 400px);
	}

	/* * Home Page * */
	.detail-content {
		max-width: 750px;
	}
}

/**
 *	! responsive for larger than 768px screen
 */

@media screen and (min-width: 768px) {
	/* * CUSTOM PROPERTY * */

	:root {
		/* gradient color */
		--banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0) 100%;

		/* fonst size */
		--fs-heading: 5.4rem;
	}

	/* * HOME PAGE * */

	.container {
		padding-inline: 24px;
	}
	.slider-list {
		margin-inline: -24px;
	}
	.search-btn {
		display: none;
	}
	.search-box {
		all: unset;
		display: block;
		width: 360px;
	}
	.banner {
		height: 500px;
	}
	.banner-content {
		bottom: 50%;
		transform: translateY(50%);
		left: 50px;
	}

	/* * MOVIE DETAIL PAGE * */

	.movie-detail {
		display: flex;
		align-items: flex-start;
		gap: 40px;
	}
	.movie-detail .detail-box {
		flex-grow: 1;
	}
	.movie-detail .movie-poster {
		flex-shrink: 0;
		position: sticky;
		top: 0;
	}
	.movie-detail .slider-list {
		margin-inline-start: 0;
		border-radius: var(--radius-16) 0 0 var(--radius-16);
	}
	.movie-detail .slider-inner::before {
		display: none;
	}
}

/**
 *	! responsive for larger than 1200px screen
 */

@media screen and (min-width: 1200px) {
	/* * HOME PAGE * */

	.header {
		padding: 28px 56px;
	}
	.logo img {
		width: 160px;
	}
	.menu-btn,
	.overlay {
		display: none;
	}
	main {
		display: grid;
		grid-template-columns: 250px 1fr;
	}
	.sidebar {
		position: static;
		visibility: visible;
		border-top: 0;
		height: calc(100vh - 104px);
	}
	.sidebar.active {
		transform: none;
	}
	.sidebar-list,
	.sidebar-footer {
		padding-inline: 56px;
	}
	.container {
		height: calc(100vh - 104px);
		border-top-left-radius: var(--radius-16);
	}
	.banner-content {
		left: 100px;
	}
	.search-modal {
		top: 104px;
		padding: 60px;
	}

	/* * MOVIE DETAIL PAGE * */

	.backdrop-image {
		border-top-left-radius: var(--radius-36);
	}
}