@import url(variables.css);

.sidebar {
	position: absolute;
	background-color: var(--background);
	top: 96px;
	bottom: 0;
	left: -340px;
	max-width: 340px;
	width: 100%;
	border-block-start: 1px solid var(--banner-background);
	overflow-y: overlay;
	z-index: 4;
	visibility: hidden;
	transition: var(--transition-long);
  }
  
  .sidebar.active {
	transform: translateX(340px);
	visibility: visible;
  }
  
  .sidebar-inner {
	display: grid;
	gap: 20px;
	padding-block: 36px;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
	background-color: transparent;
  }
  
  .sidebar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
	background-color: var(--banner-background);
  }
  
  .sidebar::-webkit-scrollbar-button {
	height: 16px;
  }
  
  .sidebar-list,
  .sidebar-footer {
	padding-inline: 36px;
  }
  
  .sidebar-link {
	color: var(--on-surface-variant);
	transition: var(--transition-short);
  }
  
  .sidebar-link:is(:hover, :focus-visible) {
	color: var(--on-background);
  }
  
  .sidebar-list {
	display: grid;
	gap: 8px;
  }
  
  .sidebar-list .title {
	margin-block-end: 8px;
  }
  
  .sidebar-footer {
	border-block-start: 1px solid var(--banner-background);
	padding-block-start: 28px;
	margin-block-start: 16px;
  }
  
  .copyright {
	color: var(--on-surface-variant);
	margin-block-end: 20px;
  }
  
  .copyright a {
	display: inline-block;
  }
  
  .overlay {
	position: fixed;
	top: 96px;
	left: 0;
	bottom: 0;
	width: 100%;
	background: var(--background);
	opacity: 0;
	pointer-events: none;
	transition: var(--transition-short);
	z-index: 3;
  }
  
  .overlay.active {
	opacity: 0.5;
	pointer-events: all;
  }